.row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.row:not(:last-child) {
    border-bottom: 1px solid #000;
}

.column {
    flex: 1;
}

.column:not(:last-child) {
    border-right: 1px solid #000;
}
