.background {
    background-color: #a796ba;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.column {
    padding: 1rem;
    height: 100%;
}

.filterDiv {
    display: flex;
    align-items: center;
}

.filter {
    margin-right: 1rem;
}

input,
input:focus {
    outline: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 6.5rem;
    height: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: #645a6f;
}

.slider:before {
    position: absolute;
    content: '';
    height: 1.5rem;
    width: 3rem;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 25px;
}

.orders {
    position: absolute;
    content: '';
    left: 5px;
    transform: translateY(45%);
    font-size: 14px;
}

.all {
    position: absolute;
    content: '';
    right: 20px;
    transform: translateY(45%);
    font-size: 14px;
}
