.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #e7e5ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    background-color: #ffffff;
    width: 60vw;
    height: fit-content;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.history {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: #ffffff;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border: 1px solid #000;
}

.history:hover {
    background: #a796ba;
}

.itemContainer {
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}

.historyDiv {
    width: 60vw;
    height: fit-content;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}
